## Data Integration, EDA

Some imports, settings

In [35]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

def set_options():
    # matplotlib params
    matplotlib.rc_params['figure.figsize'] = [12, 8]
    # seaborn styles
    sns.set_style()

Load the main dataset

In [36]:
df = pd.concat(
    [pd.read_csv('./data/train_features.csv'),
     pd.read_csv('./data/train_targets.csv')],
    axis=1)
df = df.loc[:,~df.columns.duplicated()]

Optimize the memory a bit

In [37]:
# memory usage reduction code from: https://www.kaggle.com/gemartin/load-data-reduce-memory-usage
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtypes
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df
df = reduce_mem_usage(df)

Memory usage of dataframe is 75.41 MB
Memory usage after optimization is: 15.97 MB
Decreased by 78.8%

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39675 entries, 0 to 39674
Columns: 250 entries, match_id_hash to next_roshan_team
dtypes: category(2), float16(31), int16(67), int32(10), int8(140)
memory usage: 16.0 MB

In [4]:
df.nunique()

match_id_hash                 39675
game_time                      3417
game_mode                         8
lobby_type                        2
objectives_len                   43
chat_len                        158
r1_hero_id                      115
r1_kills                         33
r1_deaths                        26
r1_assists                       40
r1_denies                        70
r1_gold                       16407
r1_lh                           504
r1_xp                         17368
r1_health                      2803
r1_max_health                   716
r1_max_mana                    1298
r1_level                         25
r1_x                             62
r1_y                             59
r1_stuns                       4597
r1_creeps_stacked                49
r1_camps_stacked                 14
r1_rune_pickups                  41
r1_firstblood_claimed             2
r1_teamfight_participation      787
r1_towers_killed                  9
r1_roshans_killed                 4
r1_obs_placed                    25
r1_sen_placed                    43
                              ...
d4_obs_placed                    26
d4_sen_placed                    41
d5_hero_id                      115
d5_kills                         35
d5_deaths                        24
d5_assists                       42
d5_denies                        71
d5_gold                       16329
d5_lh                           506
d5_xp                         17234
d5_health                      2802
d5_max_health                   718
d5_max_mana                    1303
d5_level                         25
d5_x                             60
d5_y                             59
d5_stuns                       4560
d5_creeps_stacked                64
d5_camps_stacked                 19
d5_rune_pickups                  45
d5_firstblood_claimed             2
d5_teamfight_participation      847
d5_towers_killed                 10
d5_roshans_killed                 6
d5_obs_placed                    26
d5_sen_placed                    40
radiant_win                       2
duration                       3484
time_remaining                 3450
next_roshan_team                  2
Length: 250, dtype: int64

In [52]:
'The number of missing values is %d. That is roughly %3.2f%% of the values' % (df.isnull().sum().sum(), 
                                                                               df.isnull().sum().sum() / np.prod(df.shape)*100)

'The number of missing values is 14350. That is roughly 0.14% of the values'

#### Let's dive in the extended dataset – the .jsonl file – and build a dataset of heroes.

Make a mapping for hero names to hero id – inside initial dataset

In [5]:
from tqdm import tqdm_notebook
from collections import OrderedDict
import ujson

# First take a look at how many unique hero ID's we can find
unique_heroes = []
for c in ['r','d']:
    for i in range(1,6):
        unique_heroes += df[f'{c}{i}_hero_id'].unique().tolist()
hero_count = len(set(unique_heroes))

# Loop through the large JSON until we retrieved 115 hero names!
hero_to_id = {}
id_to_hero = {}
retrieved = 0
done = False
with open('data/train_matches.jsonl') as raw:
    for game in tqdm_notebook(raw, total=df.shape[0]):
        game = ujson.loads(game)
        for player in game['players']:
            hero_id = player['hero_id']
            hero_name = player['hero_name'][14:].replace('_',' ')
            if not hero_id in id_to_hero:
                retrieved += 1
                id_to_hero[hero_id] = hero_name
                hero_to_id[hero_name] = hero_id
            if retrieved == hero_count:
                done = True
                break
        if done:
            break
            
# Sort the hero mappings
hero_to_id = OrderedDict((key, hero_to_id[key]) for key in sorted(hero_to_id))
id_to_hero = OrderedDict((key, id_to_hero[key]) for key in sorted(id_to_hero))

# Correct the typos
hero_to_id['zeus'] = hero_to_id.get('zuus', 'zeus')
if hero_to_id.get('zuus'): del hero_to_id['zuus']

zuus_key = [hero_id for hero_id in id_to_hero.keys() 
                    if id_to_hero[hero_id] == 'zuus']
if zuus_key: id_to_hero[zuus_key[0]] = 'zeus'

HBox(children=(IntProgress(value=0, max=39675), HTML(value='')))

Create the hero dataset.

In [23]:
hero_df = pd.DataFrame(index=id_to_hero.keys())
hero_df['name'] = id_to_hero.values()
hero_df['name_stripped'] = hero_df['name'].str.replace(' ','')
hero_df['stat'] = None
hero_df['types'] = [[] for _ in range(hero_count)]

The ```./data/hero_classes.json``` file was manually scrapped from https://dota2.gamepedia.com/Role on 26 March 2019. <br>
Merge it with our hero data frame.

In [32]:
# Read the hero classes file
f = open('./data/hero_classes.json')
hero_classes = ujson.load(f)
f.close()

# Define a function to match names between datasets.
alt_names = {'nevermore': 'shadowfiend',
             'windrunner': 'windranger',
             'necrolyte': 'necrophos',
             'skeletonking': 'wraithking',
             'rattletrap': 'clockwerk',
             'furion': 'naturesprophet',
             'obsidiandestroyer': 'outworlddevourer',
             'wisp': 'io',
             'magnataur': 'magnus',
             'shredder': 'timbersaw'}
def is_match(name, out_name):
    out_name = out_name.replace(' ','')\
                       .replace('-','')\
                       .replace("'",'').lower()
    direct_match = (name == out_name) or \
                    name.startswith(out_name) or \
                    name.endswith(out_name) or \
                    out_name.startswith(name) or \
                    out_name.endswith(name)
    alt_name = alt_names.get(name)
    
    return direct_match or (alt_name and is_match(alt_name, 
                                                  out_name))

# Get a list of all unique names of the 'external' dataset
external_names = []
for h_class, h_by_stat in hero_classes.items():
    for h_stat, h_list in h_by_stat.items():
        external_names += h_list
external_names = set(external_names)

# Create a mapping between hero names as found in our initial dataset and hero names from the secondary dataset 
external_name_map = {}
for e_name in external_names:
    for _, row in hero_df[['name', 'name_stripped']].iterrows():
        if is_match(row['name_stripped'], e_name):
            external_name_map[e_name] = row['name']
            break

# Check if we cover all the heroes in the 'internal' dataset
assert len(external_name_map) == hero_count

# Lastly, merge the stats in the 'external' dataset with the stats of the 'internal' dataset
hero_df['types'] = [[] for _ in range(hero_count)] # reinitialize column when before filling it up, as we use append to fill it
for h_class, h_by_stat in hero_classes.items():
    for h_stat, h_list in h_by_stat.items():
        for hero in h_list:
            i_name = external_name_map.get(hero)
            if i_name:
                hero_df.loc[hero_to_id[i_name], 'types'].append(h_class)
                hero_df.loc[hero_to_id[i_name], 'stat'] = h_stat
                
hero_df.sample(10)

,name,name_stripped,stat,types
81,chaos knight,chaosknight,str,"[Carry, Disabler, Durable, Pusher, Initiator]"
86,rubick,rubick,int,"[Support, Nuker, Disabler]"
66,chen,chen,int,"[Support, Jungler, Pusher]"
44,phantom assassin,phantomassassin,agi,"[Carry, Escape]"
102,abaddon,abaddon,str,"[Carry, Support, Durable]"
54,life stealer,lifestealer,str,"[Carry, Disabler, Jungler, Durable, Escape]"
31,lich,lich,int,"[Support, Nuker]"
30,witch doctor,witchdoctor,int,"[Support, Nuker, Disabler]"
50,dazzle,dazzle,int,"[Support, Nuker, Disabler]"
1,antimage,antimage,agi,"[Carry, Nuker, Escape]"

We can also derive a new feature, ```n_types``` as the number of roles the hero can take.

In [33]:
hero_df['n_types'] = hero_df['types'].map(set).map(len)
hero_df.sample(10)

,name,name_stripped,stat,types,n_types
12,phantom lancer,phantomlancer,agi,"[Carry, Nuker, Escape, Pusher]",4
21,windrunner,windrunner,int,"[Carry, Support, Nuker, Disabler, Escape]",5
93,slark,slark,agi,"[Carry, Nuker, Disabler, Escape]",4
114,monkey king,monkeyking,agi,"[Carry, Disabler, Escape, Initiator]",4
79,shadow demon,shadowdemon,int,"[Support, Nuker, Disabler, Initiator]",4
94,medusa,medusa,agi,"[Carry, Disabler, Durable]",3
10,morphling,morphling,agi,"[Carry, Nuker, Disabler, Durable, Escape]",5
66,chen,chen,int,"[Support, Jungler, Pusher]",3
40,venomancer,venomancer,agi,"[Support, Nuker, Disabler, Pusher, Initiator]",5
103,elder titan,eldertitan,str,"[Nuker, Disabler, Durable, Initiator]",4